<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078705102785-18dqe6uvfer7he3dlqa0h6kccva9r1su.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078705102785-18dqe6uvfer7he3dlqa0h6kccva9r1su</string>
	<key>API_KEY</key>
	<string>AIzaSyDgU2euMhXb5sZLQnsCrvTnye9x6lgWoIE</string>
	<key>GCM_SENDER_ID</key>
	<string>1078705102785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-5b978</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-5b978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078705102785:ios:1c108bd934d9c8eb3e1940</string>
	<key>DATABASE_URL</key>
	<string>https://flutterproject-5b978-default-rtdb.firebaseio.com</string>
</dict>
</plist>